Source: ros-kinetic-rocon-tools
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://www.ros.org/wiki/rocon_tools
Standards-Version: 3.9.2

Package: ros-kinetic-rocon-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rocon-console, ros-kinetic-rocon-ebnf, ros-kinetic-rocon-interactions, ros-kinetic-rocon-launch, ros-kinetic-rocon-master-info, ros-kinetic-rocon-python-comms, ros-kinetic-rocon-python-redis, ros-kinetic-rocon-python-utils, ros-kinetic-rocon-python-wifi, ros-kinetic-rocon-semantic-version, ros-kinetic-rocon-uri
Description: Utilities and tools developed for rocon, but usable beyond the boundaries of rocon.
